@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway:wght@300&display=swap");
//fonts
$header-font: "Noto Sans", sans-serif;
$editor-font: "Raleway", sans-serif;

//font-sizes
$header-size: 1.5rem;
$editor-size: 1rem;

//colors
$dark-pink: #161016;
$pink: #dda0dd;
$light-pink: #ebc6eb;
$lighter-pink: #fff4ff;
$dark: #343746;
$dark-blue: #141e33;
$blue: #6696ff;
$light-blue: #a3c0ff;

$header-height: 3.125rem;
