@import "./sass/variables";

.container {
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  height: $header-height;
  align-items: center;
  font-family: $header-font;
  font-size: $header-size;
  color: $dark;
  padding-left: 0.625rem;
  border: 2px solid $dark;
}

.icon {
  margin-right: 0.3125rem;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 100% !important;
  }

  .header {
    justify-content: center;
  }
}
